body {
  height: 3000px;
  background-color: burlywood;
}

.a1 {
  padding: 0px !important;
  line-height: 120px;
  color: white !important;
}

.li1 {
  margin-right: 28px;
}

#navbar {
  background-color: #333;
  position: fixed;
  top: -57px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

.a2 {
  color: white !important;
}

.firstcol {
  background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}

.ul1 li {
  margin-bottom: 17px;
}

.ul1 li a {
  text-decoration: none;
}

.ul2 li {
  border-radius: 5px;
}

@media screen and (max-width: 575px) {
  .navcontasize {
    width: 100%;
  }
  .bbbb {
    position: fixed;
    width: 100%;
    background-color: #000000 !important;
  }
}

@media all and (min-width: 576px) and (max-width: 767px) {
  .navcontasize {
    width: 100%;
  }
  .bbbb {
    position: fixed;
    width: 100%;
    background-color: #000000 !important;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .navcontasize {
    width: 75%;
  }
  .bbbb {
    width: 100%;
    background-color: #000000 !important;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .navcontasize {
    width: 85%;
  }
  .bbbb {
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  }
}

@media all and (min-width: 1200px) and (max-width: 1399px) {
  .navcontasize {
    width: 75%;
  }
  .bbbb {
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  }
}

@media all and (min-width: 1400px) {
  .navcontasize {
    width: 75%;
  }
  .bbbb {
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  }
}
